<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="SimiCart_SimpifyManagementGraphql">
        <sequence>
            <module name="Magento_Authorization"/>
            <module name="Magento_Webapi"/>
            <module name="Magento_GraphQl" />
            <module name="Magento_Integration" />
            <module name="SimiCart_SimpifyManagement" />
        </sequence>
    </module>
</config>
