<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="SimiCart_SimpifyManagement::simicart_simpify_management"
             title="Simpify"
             module="SimiCart_SimpifyManagement"
             sortOrder="20"
             resource="SimiCart_SimpifyManagement::simicart_simpify"
        />
        <add id="SimiCart_SimpifyManagement::shops" title="Manage Shops" module="SimiCart_SimpifyManagement" sortOrder="10" action="simpify/shops" resource="SimiCart_SimpifyManagement::shop_management" parent="SimiCart_SimpifyManagement::simicart_simpify_management"/>
        <add id="SimiCart_SimpifyManagement::features" title="Manage Features" module="SimiCart_SimpifyManagement" sortOrder="20" action="simpify/features" resource="SimiCart_SimpifyManagement::feature_view" parent="SimiCart_SimpifyManagement::simicart_simpify_management"/>

    </menu>
</config>
