<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="SimiCart_SimpifyManagement::simicart_simpify" translate="title" title="Simicart Simpify Management" sortOrder="10">
                    <resource id="SimiCart_SimpifyManagement::simicart_shopify" title="SimiCart Shopify Shops Management" translate="title" sortOrder="500">
                        <resource id="SimiCart_SimpifyManagement::shop_management" sortOrder="10" translate="title" title="Manage Shopify Shops" />
                        <resource id="SimiCart_SimpifyManagement::feature_management" sortOrder="40" translate="title" title="Manage Feature Management">
                            <resource id="SimiCart_SimpifyManagement::feature_view" sortOrder="10" translate="title" title="Can New Feature" />
                            <resource id="SimiCart_SimpifyManagement::feature_new" sortOrder="40" translate="title" title="Can Add New Feature" />
                            <resource id="SimiCart_SimpifyManagement::feature_update" sortOrder="60" translate="title" title="Can Update Feature" />
                            <resource id="SimiCart_SimpifyManagement::feature_delete" sortOrder="80" translate="title" title="Can Remove Feature" />
                        </resource>
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="SimiCart_SimpifyManagement::config" title="SimiCart - Shopify Mobile Management Configuration" sortOrder="0" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
