<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <catalog>
            <search>
                <engine>none</engine>
            </search>
        </catalog>
        <simpify_management>
            <general>
                <app_bridge_version>3</app_bridge_version>
                <shopify_api_grant_mode>0</shopify_api_grant_mode>
                <shopify_api_scopes>read_products,write_products</shopify_api_scopes>
                <api_secret backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <api_version>2023-01</api_version>
            </general>
        </simpify_management>
        <system>
            <media_storage_configuration>
                <allowed_resources>
                    <media_gallery_image_folders>
                        <simpify_theme_image_folder>simpify/theme</simpify_theme_image_folder>
                        <simpify_theme_preview_images_folder>simpify/theme/images</simpify_theme_preview_images_folder>
                    </media_gallery_image_folders>
                </allowed_resources>
            </media_storage_configuration>
        </system>
    </default>
</config>
